@font-face {
    font-family: 'font-paragrafo-bold';
    src: url(assets/fonts/Inter/static/Inter-Bold.ttf);
}

@font-face {
    font-family: 'font-titulo-bold';
    src: url(assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

/* reset da pagina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* configurações genericas que vai fazer o conteúdo ficar preso no site */
.container-grid{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* começando estilização do header */
/* realizar scroll suave na minha página html */
html {
    scroll-behavior: smooth;
}

header{
    background-color: #4e53d4;
    height: 90px;
}

/* header flex -> responsável pela organização dos componentes do header */
.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* remover a estilização que vem por padrão nos links da ul li */
.links-header ul li {
    /* remove as bolinhas laterais */
    list-style-type: none;
    text-decoration: none;
}

/* realiza a estilização dos links dentro da nossa header */
.links-header .nav-links a {
    /* realiza a remoção do sublinhado dos links */
    text-decoration: none;
    color: white;
    font-family: font-paragrafo-bold;
    font-size: 20px;
    /* realiza o espaçamento interno dos links */
    letter-spacing: 1px;
}

/* Efeito de quando passa o mouse sobre os links o mesmo muda de cor para preto */
.links-header .nav-links a:hover{
    color: black;
    /* tempo para realizar a mudança de cor */
    transition: 0.2s;
}

/* realiza o espaçamentos dos links e deixa os mesmos na horizontal */
.nav-links {
    width: 350px;
    display: flex;
    justify-content: space-evenly;
}

/* realiza a estilização do input-search dentro de header
declarando as fontes, as bordas e a largura e altura
*/
.input-search input {
    width: 387px;
    height: 41px;
    border-radius: 20px;
    border: none;
    background:none;
    outline: none;
    font-family: font-paragrafo-bold;
    font-size: 15px;
}

/* estilização da cor de fundo do input */
.input-search {
    background-color: white;
    border-radius: 20px;
    padding-left: 10px;
}

/* realiza o espaçamentos dos icons e deixa os mesmos na horizontal */
.nav-icons {
    width: 180px;
    display: flex;
    justify-content: space-between;
}

/* MAIN */

/* REALIZAR A CRIAÇÃO DO BANNER DE FUNDO, UTILIZAMOS A IMAGEM NO CSS PARA REALIZAR A ESTILIZAÇÃO DIRETA DA IMAGEM */
.banner {
    background-image: url(assets/img/eric-masur-AEyam8UN6NY-unsplash\ 1.png);
    height: 580px;
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: bottom;
}

/* Realizar a estilização de todos os componentes dentro do banner-flex */
.banner-flex {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Realizar a estilização dos componentes dentro da div banner-info */
.banner-info {
    width: 200px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Realizando a estilização do titulo all-star */
.banner-info h1 {
    font-family: font-titulo-bold;
    font-size: 40px;
    text-transform: uppercase;
}

/* realizando as estilizações do botão, definindo altura, largura, borda e cursor
alteração para todos os buttons dentro da minha página, pois não definimos nenhuma classe para o botão
*/
button {
    width: 185px;
    height: 45px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #4e53d4;
}

/* Realizar a estilização da borda gradiente do botão */
.border-gradient{
    padding: 2px;
    border-radius: 8px;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1));
}

/* realizar a estilização da fonte do texto do botão */
.button-edit {
    font-family: font-paragrafo-bold;
    font-size: 20px;
    color: white;
    font-weight: bold;
}


/* VAMOS REALIZAR A CRIAÇÃO DOS CARDS DA MAIN */

.background-ofertas {
    height: 900px;
    background-color: #5BDBF5;
    background-image: linear-gradient(246deg, rgba(91, 219, 245, 0.60) 0%, #5BDBF5 40.00%, #56A6E8 70.00%, #F5B945 100%);
    background-position: center;
    background-size: cover;
}

.tittle-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
}

.background-ofertas .news-tittle{
    color: white;
    font-family: font-titulo-bold;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.background-ofertas .news-paragrafo {
    color: white;
    font-family: font-paragrafo-bold;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

/* Realizar estilização dos cards */
.news-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* realizando a estilazação dos cards */
.card {
    background-image: linear-gradient(315deg, #9323e8 0%, rgba(124, 208, 225, 0.47) 53.27%, rgba(91, 219, 245, 0.00) 100%); 
    border-radius: 8px;
    width: 300px;
    height: 335px;
    cursor: pointer;
    backdrop-filter: blur(1000px);
    transition: all 0.5s;
    margin-right: 20px;
    margin-bottom: 40px;
}

/* estilização do hover (assim que passa o mouse em cima do card */
.card:hover {
    box-shadow: 15px 0px 35px;
}

/* realiza a estilização dos componentes dentro dos cards */
.info-card {
    height: 335px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px;
}

/* realiza a estilização do h2 dentro dos cards */
.info-card h2 {
    font-family: font-titulo-bold;
    text-align: center;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    font-size: 26px;
}

/* realiza a estilização do p dentro dos cards */
.info-card p {
    font-family: font-paragrafo-bold;
    font-weight: bold;
    color: white;
    text-align: justify;
    padding: 10px;
}

